{# @{% extends 'base.html.twig' %} #}

<h1>{{ title }}</h1>

{# Comments #}

<div>
	Hmm maybe?
	<p>
		Tracks:
	</p>

	<ul>
    {% for track in tracks %}
    {#Filters can be chained#}
        <li>{{track.artist |upper}}-{{track.song}}</li>
    {% endfor %}
    </ul>
</div>

{{ 'saySomething' }}
